In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Jamestown,42.0970,-79.2353,11.71,100,0,4.61,US,2022-01-31 05:10:11
1,1,Iqaluit,63.7506,-68.5145,-25.31,74,23,5.01,CA,2022-01-31 05:03:21
2,2,Port Alfred,-33.5906,26.8910,74.32,84,100,11.79,ZA,2022-01-31 05:09:26
3,3,Mataura,-46.1927,168.8643,71.47,57,92,4.94,NZ,2022-01-31 05:09:25
4,4,Hobart,-42.8794,147.3294,86.27,56,20,1.01,AU,2022-01-31 05:10:11

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Port Alfred,-33.5906,26.8910,74.32,84,100,11.79,ZA,2022-01-31 05:09:26
3,3,Mataura,-46.1927,168.8643,71.47,57,92,4.94,NZ,2022-01-31 05:09:25
4,4,Hobart,-42.8794,147.3294,86.27,56,20,1.01,AU,2022-01-31 05:10:11
5,5,Caravelas,-17.7125,-39.2481,77.36,87,64,8.66,BR,2022-01-31 05:06:50
6,6,Kyaikkami,16.0800,97.5675,76.53,64,35,4.72,MM,2022-01-31 05:10:12
9,9,Kapaa,22.0752,-159.3190,72.12,74,20,5.75,US,2022-01-31 05:07:11
11,11,Victoria,22.2855,114.1577,60.24,72,96,1.99,HK,2022-01-31 05:10:13
12,12,Richards Bay,-28.7830,32.0377,74.19,82,96,7.58,ZA,2022-01-31 05:08:14
13,13,Urucui,-7.2294,-44.5561,71.58,93,17,2.01,BR,2022-01-31 05:09:02
16,16,Cururupu,-1.8283,-44.8683,74.21,86,100,4.03,BR,2022-01-31 05:10:15

In [19]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       5
Date          0
dtype: int64

In [20]:
preferred_cities_df.count()

City_ID       259
City          259
Lat           259
Lng           259
Max Temp      259
Humidity      259
Cloudiness    259
Wind Speed    259
Country       254
Date          259
dtype: int64

In [21]:
preferred_cities_df.notnull().sum()

City_ID       259
City          259
Lat           259
Lng           259
Max Temp      259
Humidity      259
Cloudiness    259
Wind Speed    259
Country       254
Date          259
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2    Port Alfred      ZA     74.32 -33.5906   26.8910
3        Mataura      NZ     71.47 -46.1927  168.8643
4         Hobart      AU     86.27 -42.8794  147.3294
5      Caravelas      BR     77.36 -17.7125  -39.2481
6      Kyaikkami      MM     76.53  16.0800   97.5675
9          Kapaa      US     72.12  22.0752 -159.3190
11      Victoria      HK     60.24  22.2855  114.1577
12  Richards Bay      ZA     74.19 -28.7830   32.0377
13        Urucui      BR     71.58  -7.2294  -44.5561
16      Cururupu      BR     74.21  -1.8283  -44.8683

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Port Alfred,ZA,74.32,-33.5906,26.8910,The Halyards Hotel
3,Mataura,NZ,71.47,-46.1927,168.8643,Ellie's Villa
4,Hobart,AU,86.27,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
5,Caravelas,BR,77.36,-17.7125,-39.2481,Pousada dos Navegantes
6,Kyaikkami,MM,76.53,16.0800,97.5675,St. joseph catholic church
9,Kapaa,US,72.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Victoria,HK,60.24,22.2855,114.1577,Mini Hotel Central
12,Richards Bay,ZA,74.19,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
13,Urucui,BR,71.58,-7.2294,-44.5561,Hotel Premium Piauí
16,Cururupu,BR,74.21,-1.8283,-44.8683,POUSADA TRAVÉS'CIA

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig