## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,2,Espinosa,BR,70.30,scattered clouds,-14.9261,-42.8192,Hotel Vilma
1,10,Coari,BR,73.98,overcast clouds,-4.0850,-63.1414,HOTEL ALEX FLAT
2,23,Sao Filipe,CV,72.52,clear sky,14.8961,-24.4956,Hotel Xaguate
3,28,Rio Grande,BR,70.95,light rain,-32.0350,-52.0986,Hotel Atlântico Rio Grande
4,33,Senanga,ZM,65.39,light rain,-16.1167,23.2667,Zango lodge

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City Description</dt><dd>{City Description} at {Max Temp}</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df['City'] == 'East London']
vacation_end = clean_hotel_df.loc[clean_hotel_df['City'] == 'East London']
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df['City'] == 'Port Elizabeth']
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df['City'] == 'Port Alfred']
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df['City'] == 'Fort Beaufort']

In [32]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-33.0153, 27.9116)
(-33.0153, 27.9116)
(-32.7748, 26.6338)
(-33.918, 25.5701)
(-33.5906, 26.891)

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2,stop3],
    travel_mode='DRIVING'
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,47,East London,ZA,69.28,light rain,-33.0153,27.9116,Tu Casa
1,47,East London,ZA,69.28,light rain,-33.0153,27.9116,Tu Casa
2,606,Fort Beaufort,ZA,61.34,light rain,-32.7748,26.6338,iNK Conference Centre
3,118,Port Elizabeth,ZA,67.10,clear sky,-33.9180,25.5701,39 On Nile Guest House
4,72,Port Alfred,ZA,69.89,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City Description</dt><dd>{City Description} at {Max Temp}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))