## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../vacation_search/clean_data.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,2,Espinosa,BR,70.30,scattered clouds,-14.9261,-42.8192,Hotel Vilma
1,5,Atuona,PF,79.00,clear sky,-9.8000,-139.0333,Villa Enata
2,10,Coari,BR,73.98,overcast clouds,-4.0850,-63.1414,HOTEL ALEX FLAT
3,13,Monrovia,LR,77.68,clear sky,6.3005,-10.7969,Sunset Inn
4,16,Port Blair,IN,78.84,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City Description</dt><dd>{City Description} at {Max Temp}</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_hotel_df.loc[clean_hotel_df['City'] == 'Beyla']
vacation_end = clean_hotel_df.loc[clean_hotel_df['City'] == 'Monrovia']
vacation_stop1 = clean_hotel_df.loc[clean_hotel_df['City'] == 'Tabou']
vacation_stop2 = clean_hotel_df.loc[clean_hotel_df['City'] == 'Anloga']
vacation_stop3 = clean_hotel_df.loc[clean_hotel_df['City'] == 'Beyla']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(8.6833, -8.6333)
(6.3005, -10.7969)
(4.423, -7.3528)
(5.7947, 0.8973)
(8.6833, -8.6333)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode='DRIVING'
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,325,Beyla,GN,65.57,clear sky,8.6833,-8.6333,DIAN SINKO
1,13,Monrovia,LR,77.68,clear sky,6.3005,-10.7969,Sunset Inn
2,463,Tabou,CI,77.45,light rain,4.4230,-7.3528,hotêl doufoulougou
3,353,Anloga,GH,79.02,light rain,5.7947,0.8973,Pin Drop Hotel
4,325,Beyla,GN,65.57,clear sky,8.6833,-8.6333,DIAN SINKO

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>City Description</dt><dd>{City Description} at {Max Temp}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))